<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded JavaScript</title>
</head>
<body>
   <h1>Hi! Buddy I'm Karthikeyan , I'm from <%= place %> and I'm a passionate Information Technology with <%= role %></h1> 
</body>
</html>